.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/make-up.jpeg");
}
@media screen and (max-width: 400px) and (max-height: 810px) {
  .App {
    background-image: url("./img/make-up_phone.jpeg");
  }
 }